@model IEnumerable<QuikServe.Models.WebReports>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ReportName
        </th>
        <th>
            Procedure
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebReportId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebReportId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WebReportId })
        </td>
    </tr>
}

</table>
