@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>QuikServe Web Reports</title>
    <link type="text/css" href="@Url.Content("~/ext-4.1-gpl/resources/css/ext-all.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/resources/css/grid.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/ext-4.1-gpl/src/ux/grid/css/GridFilters.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/ext-4.1-gpl/src/ux/grid/css/RangeMenu.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/ext-4.1-gpl/ext.js")" ></script>
    <script type="text/javascript">
        Ext.Loader.setConfig({
            enabled: true,
            disableCaching: true,
            paths: {
                'Ext.ux': '@Url.Content("~/ext-4.1-gpl/src/ux")'
            }
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/all-classes.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/app-all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/date.js")"></script>
    <meta name="author" content="Integrated Solutions - rs" />
    <!-- Date: 2012-01-11 -->
</head>
<body>

</body>
</html>
